/* video */
.pb-builder-addons .pb-builder-addon {
  position: relative;
}

.pb-builder-addon img {
  max-width: 100%;
}
.pb-video-bg-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.pb-video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.pb-video-bg-wrap iframe {
  position: absolute;
  top: 0;
  left: 0%;
  width: 200%;
  height: 240px;
}

@media (min-width: 320px) {
  .pb-video-bg-wrap iframe {
    top: -150px;
    height: 550px;
  }
}

@media (min-width: 480px) {
  .pb-video-bg-wrap iframe {
    top: -200px;
    height: 700px;
  }
}

@media (min-width: 768px) {
  .pb-video-bg-wrap iframe {
    top: -200px;
    height: 850px;
  }
}

@media (min-width: 992px) {
  .pb-video-bg-wrap iframe {
    top: -250px;
    height: 900px;
  }
}

@media (min-width: 1200px) {
  .pb-video-bg-wrap iframe {
    top: -400px;
    height: 1300px;
  }
}

@media (min-width: 2000px) {
  .pb-video-bg-wrap iframe {
    top: -500px;
    height: 1500px;
  }
}

@media (min-width: 3000px) {
  .pb-video-bg-wrap iframe {
    top: -600px;
    height: 1700px;
  }
}

.pb-builder-container#pb-builder-container
  .pb-row-parent
  > .pb-container.pb-container-full,
.pb-builder-container#pb-builder-container
  .pb-row-parent
  > .pb-container.pb-container-full
  .pb-inner-row-parent
  > .pb-container {
  max-width: 100%;
}
.pb-builder-container > .pb-row-parent .pb-container {
  position: relative;
  transition: 300ms;
  -webkit-transition: 300ms;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
}
.pb-builder-container .pb-row-parent {
  position: relative;
  z-index: 1;
}
.pb-row-parent > .pb-container,
.pb-builder-container .pb-column,
.pb-builder-addon {
  transition: box-shadow 300ms, border-radius 300ms, background 300ms,
    border-color 300ms;
  -webkit-transition: box-shadow 300ms, border-radius 300ms, background 300ms,
    border-color 300ms;
  -moz-transition: box-shadow 300ms, border-radius 300ms, background 300ms,
    border-color 300ms;
  -o-transition: box-shadow 300ms, border-radius 300ms, background 300ms,
    border-color 300ms;
}
.pb-row-parent > .pb-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.pb-row-parent > .pb-contaner-no-gutter.pb-container,
.pb-row-parent.pb-inner-row-parent .pb-container,
.pb-row-parent
  > .pb-contaner-no-gutter.pb-container
  .pb-column-parent
  .pb-column {
  padding-left: 0;
  padding-right: 0;
}

/* image addons */
.pb-image-addon-content.pb-imginlineblock {
  display: inline-block;
  vertical-align: top;
}

.pb-container > .pb-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
}
.pb-row > .pb-column-parent {
  position: relative;
  min-height: 1px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}
.pb-column-parent > .pb-column {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.pb-builder-container#pb-builder-container
  > .pb-row-parent
  > .pb-container.pb-contaner-no-gutter,
.pb-builder-container#pb-builder-container
  .pb-row-placeholder
  > .pb-row-parent
  > .pb-container.pb-contaner-no-gutter {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.pb-builder-container#pb-builder-container
  > .pb-row-parent
  > .pb-container.pb-contaner-no-gutter
  > .pb-row,
.pb-builder-container#pb-builder-container
  > .pb-row-parent
  > .pb-container.pb-contaner-no-gutter
  > .pb-row
  .pb-inner-row-parent
  .pb-container
  > .pb-row,
.pb-builder-container#pb-builder-container
  .pb-row-placeholder
  > .pb-row-parent
  > .pb-container.pb-contaner-no-gutter
  > .pb-row,
.pb-builder-container#pb-builder-container
  .pb-row-placeholder
  > .pb-row-parent
  > .pb-container.pb-contaner-no-gutter
  > .pb-row
  .pb-inner-row-parent
  .pb-container
  > .pb-row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media (min-width: 767px) {
  .pb-builder-container#pb-builder-container
    > .pb-row-parent
    > .pb-container.pb-contaner-no-gutter
    > .pb-row
    .pb-column-parent:first-child,
  .pb-builder-container#pb-builder-container
    .pb-row-placeholder
    > .pb-row-parent
    > .pb-container.pb-contaner-no-gutter
    > .pb-row
    .pb-column-parent:first-child {
    padding-left: 0 !important;
  }
  .pb-builder-container#pb-builder-container
    > .pb-row-parent
    > .pb-container.pb-contaner-no-gutter
    > .pb-row
    .pb-column-parent:last-child,
  .pb-builder-container#pb-builder-container
    .pb-row-placeholder
    > .pb-row-parent
    > .pb-container.pb-contaner-no-gutter
    > .pb-row
    .pb-column-parent:last-child {
    padding-right: 0 !important;
  }

  .pb-builder-container#pb-builder-container
    .pb-row-placeholder
    > .pb-row-parent
    > .pb-container.pb-contaner-no-gutter
    > .pb-row
    .pb-inner-row-parent
    .pb-container
    > .pb-row
    > .pb-column-parent-editor:first-child
    > .pb-column {
    margin-left: 0;
  }
  .pb-builder-container#pb-builder-container
    .pb-row-placeholder
    > .pb-row-parent
    > .pb-container.pb-contaner-no-gutter
    > .pb-row
    .pb-inner-row-parent
    .pb-container
    > .pb-row
    > .pb-column-parent-editor:last-child
    > .pb-column {
    margin-right: 0;
  }
  .pb-builder-container#pb-builder-container
    .pb-row-placeholder
    > .pb-row-parent
    > .pb-container.pb-contaner-no-gutter
    > .pb-row
    > .pb-column-parent:first-child
    > div
    > .pb-column {
    margin-left: 0;
  }
  .pb-builder-container#pb-builder-container
    .pb-row-placeholder
    > .pb-row-parent
    > .pb-container.pb-contaner-no-gutter
    > .pb-row
    > .pb-column-parent:last-child
    > div
    > .pb-column {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .pb-builder-container .pb-contaner-no-gutter .pb-column-parent-view {
    padding-left: 0;
    padding-right: 0;
  }
  .pb-builder-container .pb-column-parent-editor .pb-column,
  .pb-row-placeholder
    .pb-row-parent
    > .pb-contaner-no-gutter.pb-container
    .pb-column-parent
    .pb-column {
    margin-left: 0;
    margin-right: 0;
  }
  .pb-builder-container#pb-builder-container
    .pb-row-placeholder
    .pb-row-parent
    > .pb-container {
    overflow-x: hidden;
  }
}

.pb-column-parent-wrap {
  padding: 20px;
}
@media (max-width: 1040px) {
  .pb-container .pb-row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .pb-row-parent > .pb-container.pb-container-row-default > .pb-row {
    margin-left: 0;
    margin-right: 0;
  }
  .pb-builder-container
    .pb-row-parent
    > .pb-container.pb-container-row-default {
    overflow-x: hidden;
  }
}
@media (max-width: 767px) {
  .pb-row .pb-column-parent {
    width: 100%;
  }
}
.wppbMediaContainer {
  position: relative;
}
.pb-media-delete {
  width: 25px;
  height: 25px;
  line-height: 24px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  background: #ff0000;
  position: absolute;
}
.pb-row-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.pb-youtube-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}
.pb-widget-media_video .wp-video,
.pb-widget-media_audio .mejs-audio {
  min-width: 360px;
  height: auto;
}

.pb-builder-addons .pb-addon {
  transition: 400ms;
  -webkit-transition: 400ms;
  z-index: 1;
  position: relative;
}
.pb-inner_addon {
  z-index: 1;
  position: relative;
}
.pb-builder-container .pb-column .pb-builder-addons {
  width: 100%;
  z-index: 1;
  position: relative;
}

#wpadminbar #wp-admin-bar-edit-with-wppb > .ab-item:before {
  content: "\f464";
  top: 2px;
}

.pb-infinit-spinner {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pb_alert_info,
.pb_alert_success,
.pb_alert_warning,
.pb_alert_error {
  margin: 15px 0;
  border-radius: 6px;
  padding: 20px 25px;
}
.pb_alert_info {
  color: #00529b;
  background-color: #bde5f8;
}
.pb_alert_success {
  color: #4f8a10;
  background-color: #dff2bf;
}
.pb_alert_warning {
  color: #c39a5a;
  background-color: #fff7d5;
  font-size: 16px;
}
.pb_alert_warning ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  font-size: 13px;
  font-weight: 600;
}
.pb_alert_error {
  color: #d8000c;
  background-color: #ffd2d2;
}
.pb_alert_info i,
.pb_alert_success i,
.pb_alert_warning i,
.pb_alert_error i {
  margin: 10px 22px;
  font-size: 2em;
  vertical-align: middle;
}
.pb-form-field-has-error {
  border: 1px solid #d8000c !important;
}

// @media (min-width: 576px) {
//   .pb-builder-container .pb-row-parent > .pb-container,
//   .pb-carousel-content-wrap .pb-container {
//     max-width: 540px;
//   }
// }
// @media (min-width: 768px) {
//   .pb-builder-container .pb-row-parent > .pb-container,
//   .pb-carousel-content-wrap .pb-container {
//     max-width: 720px;
//   }
// }
// @media (min-width: 992px) {
//   .pb-builder-container .pb-row-parent > .pb-container,
//   .pb-carousel-content-wrap .pb-container {
//     max-width: 960px;
//   }
// }
// @media (min-width: 1200px) {
//   .pb-builder-container .pb-row-parent > .pb-container,
//   .pb-carousel-content-wrap .pb-container {
//     max-width: 1140px;
//   }
// }

.tutor-widget-course a {
  text-decoration: none !important;
  height: 200px;
  width: 100%;
}

.tutor-widget-course
  a.tutor-course-listing-thumb-permalink
  .tutor-course-listing-thumbnail {
  width: 100%;
  height: 200px;
  background-size: cover;
}
